.h1 {
    background-color: cadetblue;
    padding: 20px;
    text-align: center;
}
.dropdown{
    color: black;
    
}
.topnav{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}