h1{
    font-style: italic;
}
form{
    width: 500px;
    margin: auto;
    line-height: 30px;
}
input{
    border-style: solid;
    outline: auto;
}
#f1{
    width: 100px;
    height: 50px;
    accent-color: green;
}
#f2{
    width: 100px;
    height: 50px;
    accent-color: red;
}
#f3{
    width: 100px;
    height: 50px;
    accent-color: blue;
}
#f4{
    width: 100px;
    height: 50px;
    accent-color: yellow;
}