#h1{
    text-align: center;
    font-size: 1cm;
    color: blueviolet;
}
h1{
    font-style: italic;
}
form{
    width: 500px;
    margin: auto;
    line-height: 30px;
}
input{
    border-style: solid;
    outline: auto;
}
#f1{
    background-color: green;
}
#f2{
    background-color: red;
}
#f3{
    background-color: blue;
}
#f4{
    background-color: yellow;
}