body{
    font-family: sans-serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
table {
    margin: auto;
    padding: 3px;
    border-width: 4px;
    border-collapse: collapse;
    outline-style: outset;
    outline-color: turquoise;
    outline-width: 6px;
}
th {
    background-color:aqua;
    height: 50px;
    border-width: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}
td {
    width: 120px;
    border-width: 5px;
    height: auto;
    padding: auto;
    font-family: 'Times New Roman', Times, serif;
}
a {
    text-decoration: none;
}
p {
    margin: auto;
    height:max-content;
    width: 60%;
    padding-top: 10px;
    text-align: center;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div#cabecera {
    
}